body {
nav{
  list-style-type: none;
  background-color: ivory;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 8px;
  color: purple;
  text-align: right;
  outline-style: solid;
  outline-width: 8px;
    
}

li{
  display: inline;
  padding: 16px;
}

li:hover{
  background-color: black;
}

a{
  text-decoration: none;
color:purple;
}
}
